<html style='100%'>
  <head>
  <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css' />
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js'></script>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.js'></script>
  </head>
  <body style='100%'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-12' style='text-align: center;'>
          <p>
            <img src='/camera.jpeg' />
          </p>
        </div>
      </div>
      
      <div class='row'>
        <div class='col-sm-12'>
          <p>
           <a href='/on' class='switch on btn btn-success btn-lg btn-block'>On</a>
          </p>
        </div>
      
        <div class='col-sm-12'>
          <p>
            <a href='/off' class='switch off btn btn-danger btn-lg btn-block'>Off</a>
          </p>
        </div>
      
      </div>
    </div>
  </body>
</html>
